.pagination {
    display: flex;
    justify-content: center;
}


.pagination button {
    padding: 15px;
}

.pagination button:not(:last-child) {
    margin-right: 10px;
}

.pagination button:hover {
    transform: scale(1.06);
    transition: all 0.1s ease-in;
    opacity: 0.9;
}